<div>

<h3>Announcements</h3>

<table class="table announcement">
    <% @announcement.each do |x| %>
        <tr><td>
            <h3><%= x.header %></h3>
            <small>posted on:</small>
            <%= x.created_at.to_time.strftime("%b %d, %Y, %I:%M %P") %>
            <br>
            <%= simple_format(x.content) %>
        </td></tr>
    <% end %>
</table>

</div>