<div>
<table class="table-striped table table-bordered">
	<tr>
		<th class="center" width="40%">Dorm</th>
		<th class="center" width="20%">Available slots</th>
		<th class="center" width="20%">Total slots</th>
		<% if @oshadmin %>
			<th class="center" width="20%"></th>
		<% end %>
	</tr>

	<%@dorms.each do |x|%>
	
	<tr>
		<td><%=	x.dorm_name %></td>
		<td class="center"><%= Dorm.available(x.id) %></td>			
		<td class="center"><%=	x.total_slots %></td>	
		
		<% if @oshadmin%>
			<td class="center"><%= link_to "modify", "admin/modify_slots/" + x.id.to_s %></td>
		<% end %>
				
	</tr>

	<%end%>
</table>
</div>